:root {
  /* TODO: make this all parametric */
  --dark-back: burlywood;
  --light-back: bisque;
  --mid-accent: rgba(233, 149, 173, 0.80);
  --angry: orangered;
}

*,
*::before,
*::after {
  box-sizing: border-box;

}

body {
  margin: 0;
  background-image: url(/img/background.jpg);
  background-size: cover;
  /* background: var(--light-back); */
}

.satis-tier {
  /* delete this rule when you get to satis tier, obviously */
  display: none;
}

.nodisplay {
  display: none;
}

header .forloggedin,
header .forloggedout {
  display: none;
}

[data-logged-in=true] header .forloggedin {
  display: initial;
}

[data-logged-in=false] header .forloggedout {
  display: initial;
}


.headerright {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  background: var(--mid-accent)
}

header>* {
  padding: 0.5em;
}

header .logo {
  color: black;
  font-size: xx-large;
  font-weight: bold;
  text-decoration: unset;
  display: flex;
  align-items: center;
}

.logoImg {
  display: flex;
  width: 10%;
  height: auto;
  margin-right: 10px;
}

.login, .signup {
  color: white;
  background: rgb(255, 102, 102);
  border-radius: 20px; 
  border: 1px solid white; 
  padding: 5px 10px; 
}

.login:hover, .signup:hover {
  background: #6685ff; 
}


.error-box {
  height: 0;
  position: relative;
}

.error-message {
  color: rgb(167, 15, 15);
  font-weight: bold;
  background-color: rgb(255, 199, 87);
  display: none;
  position: absolute;
  left: 20%;
  margin-top: 10px;
}


.days-view {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 4em);
  overflow-x: auto;
  margin: 2em;
  background-color: var(--dark-back);
  border: 3px solid var(--mid-accent);
  border-radius: 4px;

}

.days-view .card {
  display: flex;
  flex-direction: column;
  background: var(--light-back);
  margin: 8px;
  padding: 8px;
  border: 1px solid var(--mid-accent);
  border-radius: 4px;
  min-width: 12em;
  min-height: 30em;

}

.days-view>.card>*:nth-child(2) {

  margin: 1em 0.12em;
}

.days-view .card .cardtop {
  padding: 3px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dark-back);
}

.days-view .card .cardtop div.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.days-view .card .cardtop div.weather img {
  max-height: 35px;
}





.card .make-vote {
  visibility: hidden;
}

[data-logged-in=true] .card .make-vote .forloggedin {
  visibility: initial;
}

.days-view>.card>.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.days-view>.card>.vote button {
  margin: 2px;
  padding: 2px;
  box-shadow: 1px 1px 0 black;
  /* border-radius: 3px; */
}

.days-view>.card>.vote button.quiet {
  opacity: 50%;
}


.days-view>.card>.vote button.loud {
  font-weight: bold;
  border-width: 3px;
}


.existing-votes div {
  margin: 2px;
  padding: 2px;
  border-radius: 3px;
}

.existing-votes .vote-yes.vote-yes.vote-yes.vote-yes {
  color: white;
  background: rgb(39, 142, 39);
}

.existing-votes .vote-no.vote-no.vote-no.vote-no {
  color: white;
  background: rgb(255, 72, 72);
}






/* Scrollbar stuff.  Works on Firefox */
.days-view {
  scrollbar-width: thin;
  scrollbar-color: var(--mid-accent) var(--light-back);
}

/* Scrollbar stuff.  Works on Chrome, Edge, and Safari */
.days-view::-webkit-scrollbar {
  width: 12px;
}

.days-view::-webkit-scrollbar-track {
  background: var(--light-back);
}

.days-view::-webkit-scrollbar-thumb {
  background-color: var(--mid-accent);
  /* border-radius: 20px; */
  border: 3px solid var(--light-back);
}